openapi: 3.0.3
info:
  title: Tanban Restaurant SaaS API
  version: 0.1.0
servers:
  - url: https://tbapi.666qwe.cn/api/v1
paths:
  /auth/login:
    post:
      summary: 平台或商户账号登录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password, portal]
              properties:
                username: {type: string}
                password: {type: string, format: password}
                portal: {type: string, enum: [platform, merchant]}
      responses:
        '200': {description: JWT and current user}
  /auth/me:
    get:
      summary: 当前账号
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Current user}
  /platform/dashboard:
    get:
      summary: 平台经营概览
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Platform metrics}
  /platform/tenants:
    get:
      summary: 商户列表
      security: [{bearerAuth: []}]
      responses: {'200': {description: Tenant page}}
    post:
      summary: 创建商户，可原子创建首店和老板账号
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, name]
              properties:
                code: {type: string}
                name: {type: string}
                owner_username: {type: string}
                owner_password: {type: string, format: password, minLength: 8}
                owner_display_name: {type: string}
                initial_store_code: {type: string}
                initial_store_name: {type: string}
      responses: {'201': {description: Created tenant}}
  /merchant/dashboard:
    get:
      summary: 商户经营概览
      security: [{bearerAuth: []}]
      responses: {'200': {description: Merchant metrics}}
  /merchant/products:
    get:
      summary: 商品和 SKU 列表
      security: [{bearerAuth: []}]
      responses: {'200': {description: Products}}
    post:
      summary: 创建商品及 SKU
      security: [{bearerAuth: []}]
      responses: {'201': {description: Created product}}
  /merchant/orders:
    get:
      summary: 商户订单列表
      security: [{bearerAuth: []}]
      responses: {'200': {description: Order page}}
  /merchant/refunds:
    post:
      summary: 部分或全额退款
      security: [{bearerAuth: []}]
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: {type: string, maxLength: 128}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, amount_cents]
              properties:
                order_id: {type: integer, format: int64}
                amount_cents: {type: integer, format: int64, minimum: 1}
                reason: {type: string}
      responses: {'201': {description: Refund created}}
  /public/stores/{storeCode}/catalog:
    get:
      summary: 顾客点单目录
      parameters:
        - in: path
          name: storeCode
          required: true
          schema: {type: string}
      responses: {'200': {description: Store, categories and products}}
  /public/stores/{storeCode}/orders:
    post:
      summary: 幂等创建订单
      parameters:
        - in: path
          name: storeCode
          required: true
          schema: {type: string}
        - in: header
          name: Idempotency-Key
          required: true
          schema: {type: string, maxLength: 128}
      responses: {'201': {description: Order created}}
  /public/orders/{orderNo}/payments:
    post:
      summary: 发起支付
      parameters:
        - in: path
          name: orderNo
          required: true
          schema: {type: string}
      responses: {'201': {description: Payment created}}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
